<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
	<groups>
		<run>
			<include name="sanity"></include>
		</run>
	</groups>
	<test name="testng">
		<classes>
			<class name="swati.swati_testng.testng"></class>
		</classes>

	</test>
</suite>